/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22 de mai de 2022, 21:10:33
    Project    : Meu Remédio App
    File       : Página de Cadastro de Remédios - Stylesheet
*/

/*  Global config =================== */
:root{
    --black: #000;
    --light-black: #181a19;
    --dark-blue: #363f5f;
    --light-blue: #f2fffd;
    --light-green: #3dd405;
    --green: #49aa26;
    --dark-green: #2d4a22;
    --red: #e92929;
    --light-gray: #fbf2f5;
    --gray: #969cb3;
    --dark-gray: #E6E6E6;
    --white: #fff;
}
html, body{
    margin:0px !important;
    padding: 0px !important;
}
body{
    font-family: 'Roboto', sans-serif;
    background: #ffffff;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.container-table{
    width: min(90vw, 800px);
    margin: auto;
}

/*Titles =======================*/
h2{
    margin-top: 3.2rem;
    margin-bottom: 0.8rem;
    color: var(--dark-blue);
    font-weight: normal;
}

/*Links e Buttons ================*/

/*Esse botão é da barra lateral*/
.btn.btn-info{
    height: 50px;
}
.button.save{
    display: inline-block;
    color: var(--light-green);
    border: 1px var(--light-green) solid;
    border-radius: 0.30rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.button.save:hover{
    opacity: 1;
    color: var(--white);
    background: var(--green);

}
.button.cancel{
    color: var(--red);
    border: 2px var(--red) solid;
    border-radius: 0.30rem;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}
.button.cancel:hover{
    opacity: 1;
    color: var(--white);
    background: var(--red);
}

/*  Header =================== */
.nav-lista{
    width: 25%;
    list-style: none;
    z-index: 2;
}
.nav-lista-item{
    width: 85%;
    color: var(--light-black);
    font-family: 'Roboto';
    font-style: normal;
    text-align:center;
}
.nav-lista-item a {
    text-decoration: none;
    color: var(--light-black);
    font-family: 'Roboto';
    font-style: normal;


}

/* Main ========================== */
/* Section 'remedies' */
#remedies{
    display: block;
    width: 100%;
    overflow-x: auto;
}
/* Table ======================== */
#data-table{
    width: 100%;
    border-spacing: 0 0.5rem;
    color: var(--gray);
    flex-wrap: wrap;

}
table thead tr th:first-child,
table tbody td th:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}
table thead tr th:last-child,
table tbody td th:last-child{
    border-radius: 0 0.25rem 0.25rem 0;
}
table th{
    background-color: var(--white);
    font-weight: normal;
    padding: 1rem 2rem;
    text-align: left;

}
table tbody tr{
    opacity: 0.7;
}
table tbody tr:hover{
    opacity: 1;
}
table td{
    background: var(--white);
    padding: 1rem 2rem;
}
td.description{
    color: var(--dark-blue);
}
td.income{
    color: var(--light-green);
}
td.expense{
    color: var(--red);
}

/*Modal ==========================*/
.modal-overlay{
    width:100%;
    height: auto;
    /*background-color: rgba(0,0,0,0.7);*/
    margin-bottom: 50px;
    padding-bottom: 50vh;

    position: absolute;
    /*top: 0%;*/
    /*z-index: 2;*/

    display: flex;
    align-items: center;
    justify-content: center;

    /*opacity: 0;
    visibility: hidden;*/
}
/*.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}*/
.modal{
    /*background-color: var(--light-gray);*/
    /*padding: 2.4rem;*/
    width: 100%;
    max-width: 500px;
    max-height: 1000px;
    padding-bottom: 10px;
    display: block;
    position: relative;
    z-index: 0;

}

/* Form ==========================*/
#form{
    padding: 6%;
    background: #FFFFFF;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 1px solid;
    border-color: #C4C4C4;

}
#form h2{
    margin-top: 20px;
    margin-bottom: 45px;
    text-align: center;
}
#form form input{
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}
.formulario-icon{
    width: 124px;

}
.formulario-icon-cadastro{
    width: 124px;
    margin: auto;
}
.input-group{
    width: 100%;
    padding: 2%;
    margin-top: 0.5rem;
    background: var(--white);
    border: 3px solid var(--dark-gray);
    border-radius: 15px;
}
.input-group small{
    opacity: 0.4;
}
.sus-medicine{
    margin-top:  -.5rem;
}
.input-group-radio{
    margin-top: 1rem;
}
.radio-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left!important;

}
#form form input.radio-yes{
    width: 10%;
    margin-left: -.37rem;


}
#form form input.radio-no{
    width: 10%;

    margin-left: -.37rem;


}
.input-group.actions{
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.input-group.actions .button,
.input-group.actions button{
    width: 48%;
}

/* ===================================== */
/* Aqui é o código que vem do css home.css */
/* Marcus que fez, é o css da barra de menu */
/* Obviamente aqui estão só as classes que não conflitavam */
/* ou já alteradas para não conflitar mais,  */
/* o original tá original ainda, do jeito que o Marcus criou. */

/* Dessa forma, não preciso chamar o arquivo dele no html de remedios */
/* Só esse arquivo já basta, resolvendo metade dos conflitos, kkkkk */

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #47748b;
    margin: 40px 0;
}

/* ---------------------------------------------------
    STYLE DO MENU
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100vh;
    z-index: 999;
    background: #181A19;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    left: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #181A19;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #e6e6e6;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #181A19;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #181A19;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #181A19;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #181A19;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #181A19 !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    STYLE DO CORPO DA PÁGINA
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    /*min-height: 100vh;*/
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;

}

/*line*/

.vl {
    border-left: 3px solid #47748b;
    height: 430px;
}

/*Introdução Inicial*/

.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #6bffe9;
    border-radius: 0.3rem;
}

.rodape {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #6bffe9;
    border-radius: 0.3rem;
}

/*tamanho da logo*/
nav a img {
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

/*.gastos {
    margin: 10%;
}*/