@media only screen and (max-device-width: 700px) {
    /* .menu { width:400px; } */
}

/*{
  box-sizing: border-box;
}*/


header{
    position: fixed;
    z-index: 1;
    background: #ffffff;
    padding: 35px;
    width: calc(100% - 0%);
    top: 0;
    height: 30px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
}

/*header{
  position: fixed;
  z-index: 1;
  background: #ffffff;
  padding: 35px;
  width: calc(100% - 0%);
  top: 0;
  height: 30px;
}*/


/* Meu Remédio */

.title-home {
    /* H4 - Regular */
    font-family: "Roboto";
    font-weight: 400;
    font-size: 2rem;
    line-height: 32px;
    text-align: justify;
    color: #38CFB8;
    margin-top: -25px;
}

.banner-home {
    width: 1720px;
    height: 657px;
    background: url("../images/banner-home.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position:relative;
    top: auto;
    left: auto;
    right: auto;
    overflow: hidden;
}

.btn-sus-home-back {
    width: 1720px;
    height: 69px;
    background: rgba(55,206,183,1);
    opacity: 1;
    position: absolute;
    top: 657px;
    left: 0px;
    overflow: hidden;
}
.btn-sus-home {
    width: 488px;
    color: #F2FFFD;
    position: absolute;
    top: 683px;
    left: 500px;
    height: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 32px;
    opacity: 1;
    text-align: center;
}


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar-toggler{
    width: 150px;
}

/*Botoes*/
.entrar-btn {
    background: #fff;
    background-color: #4FF4DB;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    margin: 5px;
    color: #081816;
    padding: 5px;
    height: 40px;
    width: 115px;
    border-radius: 117px;
}

.cadastrar-btn {
    background: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    margin: 5px;
    color: #081816;
    padding: 5px;
    height: 40px;
    width: 115px;
    border-radius: 117px;
    border: 3px solid #4FF4DB;
}
.inicio-btn {
    background: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    margin: 5px;
    color: #081816;
    padding: 5px;
    height: 40px;
    width: 115px;
    border-radius: 117px;
    border: 3px solid #4FF4DB;
}

.inter {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    margin: 5px;
    color: #081816;
    padding: 5px;
    height: 40px;
    width: 115px;
    border-radius: 117px;
    border: 3px solid #4FF4DB;
}


/* == CONTENT == */
.container{
    margin-bottom: 15px;
}
#content {
    z-index: -1;
    width: 100%;
    padding: 20px;
    margin-top: 120px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;

}

.vl {
    border-left: 3px solid #47748b;
    height: 430px;
}



.card-title{
    font-size: 2rem;
}

