<!-- Arquivo HTML para a página principal, usuário logado -->

<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" href="/images/icon.svg" />
    <!-- Link do bootstrap (CSS) bolado -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <header>
        <!-- Menu Simples -->
        <nav class="navbar d-flex justify-content-end">
            <ul class="d-flex justify-content-around align-item-center nav-lista">
                <li class="nav-lista-item">
                    <select id="locales">
                        <option value="" th:text="#{alllanguage.change}"></option>
                        <option value="en" th:text="#{alllanguage.english}"></option>
                        <option value="pt" th:text="#{alllanguage.portuguese}"></option>
                    </select>
                </li>
                <li class="nav-lista-item">
                    <a th:text="#{navbar.index}" class="" href="/"></a>
                </li>
                <li class="nav-lista-item">
                    <!-- Os valores dos atributos ainda não existem, botão novo -->
                    <a th:text="#{navbar.remedy}" class="" href="/cadastro_remedio"></a>
                </li>

            </ul>
        </nav>
    </header>
<h1 style="text-align: center"> Pagina inicial da aplicação</h1>

<form class="logout" method="post" th:action="@{/logout}">
    <div class="col">
        <button type="submit" class="btn btn-primary"> Sair </button>
    </div>
</form>


</body>
</html>