<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Meu Remédio</title>
  <link rel="icon" href="/images/icon.svg" />
  <!-- Link do bootstrap (CSS) bolado -->
  <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/style/indexStyle.css">
</head>

<body>
<header>
  <div class="icon-home"></div>
  <div class="title-home">Meu Remédio</div>

  <div class="left_area">
  </div>
  <a class="entrar-btn" href="/login">Entrar</a>
  <a class="cadastrar-btn" href="/cadastro">Cadastrar</a>

</header>
<div class="class-home">

  <div class="func-home-1"></div>
  <span class="notifi-home">Central de notificações</span>
  <span class="text-notifi-home">Mantém você sempre informado sobre os horários de seus remédio.</span>

  <div class="func-home-2"></div>
  <span class="notifi-home-2">Controle de Gastos</span>
  <span class="text-notifi-home-2">Permite que você controle seus gastos com remédios.</span>

  <div class="func-home-3"></div>
  <span class="notifi-home-3">Calendário</span>
  <span class="text-notifi-home-3">Para você visualizar seus agendamentos no calendário.</span>

  <div class="func-home-4"></div>
  <span class="notifi-home-4">Categorização</span>
  <span class="text-notifi-home-4">Permite que você categorize seus remédios.</span>
</div>


<div class="btn-sus-home-back"></div>
<span class="btn-sus-home">VERIFIQUE A DISPONIBILIDADE NO SUS</span>
<span class="title-func-home">FUNCIONALIDADES</span>
<div class="linha-func-home"></div>
<div class="banner-home" src="/images/banner-home.png"></div>

</body>


</html>